# maven ignore
target/
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath
.springBeans

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~

# mvn
.mvn/
.mvnw
mvnw
mvnw.cmd

# system ignore
.DS_Store
Thumbs.db
/*/src/main/filters/base-*.properties

jobhandler
logs
