<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>books</title>
</head>
<body>
<table border="1">
    <tr>
        <th>id</th>
        <th>书名</th>
        <th>作者</th>
        <th>ISBN</th>
    </tr>
    <tr th:each="book : ${bookList}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.bookName}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.isbn}"></td>
    </tr>
</table>

</body>
</html>